.main{
    background-color: aqua;
}

.start{
    display:flex;
    justify-content: space-around;
}
.sidebar{
    width: 150px;
    background-color: cyan;
    height: 400px;
    position: fixed;
}
.main{
    background-color: beige;
    width: 200px;
    height: auto;
}